<h1><%= @registered_application.name %></h1> 
<p> <%= @registered_application.url %></p>
  <%= link_to 'Edit Current App', edit_registered_application_path %>

    <%# @events.each do |event| %>
	  <div class="eventsList">
	   <% @events.each do |key, array| %>
	   <%= key  %>
	   <%= array.count() %>
	    <%#= event.eventname %> <%#= event.created_at.strftime("%b %d, %Y | %H:%M:%S") %>
	  </div>
	<% end %>
